@font-face {
    font-display: swap;
    font-family: 'monument_extendedblack';
    src: url('/monumentextended-black-webfont.woff2') format('woff2'),
    url('/monumentextended-black-webfont.woff') format('woff');
}
@font-face {
    font-display: swap;
    font-family: 'pp_monument_narrowblack';
    src: url('/PPMonumentNarrow-Black.woff2') format('woff2'),
    url('/PPMonumentNarrow-Black.woff') format('woff');
}
@font-face {
    font-display: swap;
    font-family: 'pp_writerregular';
    src: url('/ppwriter-regular-webfont.woff2') format('woff2'),
    url('/ppwriter-regular-webfont.woff') format('woff');
}

:root {
    --font-sans: 'monument_extendedblack', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: 'pp_writerregular', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-narrow: 'pp_monument_narrowblack', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: 'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

    --primary: #000000;
    --secondary: #fff;
    --color-date: #4a4a4a;
    --color-btn-bg-hover: #333333;
    --color-border: #000;
    --color-border-light: #ccc;
    --color-progress-bg: #ddd;
    --color-submit-bg: #555;
    --color-danger: #e74c3c;

      /* Spacing (Tailwind scale) */
    --space-0: 0rem;
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-5: 1.25rem;
    --space-6: 1.5rem;
    --space-8: 2rem;
    --space-10: 2.5rem;
    --space-12: 3rem;
    --space-16: 4rem;

    /* Font Sizes */
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;

    /* Border radius */
    --rounded-sm: 0.125rem;
    --rounded: 0.25rem;
    --rounded-md: 0.375rem;
    --rounded-lg: 0.5rem;
    --rounded-xl: 0.75rem;
    --rounded-2xl: 1rem;
}