@import url('./variables.css');

body, html {
  margin: 0;
  padding: 0;
  font-family: var(--font-urban);
  font-size: var(--body-size);
  color: var(--secondary);
  overflow: hidden;
}

.container-background {
  background-image: url("../images/Home.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.grid-container {
  background-image: url("../images/grid.svg");
  background-repeat: repeat;
  background-size: auto;
}

.logo-header {
  font-size: var(--text-2xl);
  font-weight: 400;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-size: var(--h1-size);
  font-weight: 400;

  margin: 0;
}

.sidebar-child-header {
  font-family: 'Urbanist';
  font-weight: 400;
  font-size: var(--text-2xl);
}

.sidebar-battalion-content {
  font-weight: 300;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--space-8);
  height: calc(100vh - var(--space-8));
  box-sizing: border-box;
  padding-top: 2.75rem;
  padding-left: 4rem;
  padding-right: 3rem;
}

@media (min-width: 1470px) {
  .top-section {
    padding-right: 4.9rem;
  }
}

@media (max-width: 1200px) {
  .top-section {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 768px) {
  .top-section {
    padding-left: 2rem;
    padding-right: 3rem;
  }
}

@media (max-width: 480px) {
  .top-section {
    padding-left: 1rem;
    padding-right: 3rem;
  }
}

@media (max-width: 768px) {
  .top-section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 480px) {
  .top-section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.sidebar-card {
  background-color: var(--color-primary-bg);
  padding: var(--space-8) 0px;
  width: 40%;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(0.625rem);
  overflow: hidden;
}

.sidebar-child-card-1 {
  padding: 0 var(--space-6) 2rem var(--space-6);
  border-bottom: 0.5px solid var(--border-background-black);
  overflow: hidden;
}

.sidebar-child-card-2 {
  padding: 2rem var(--space-6) 2rem var(--space-6);
  overflow: hidden;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  padding-top: var(--space-4);
}

.sidebar-card .button {
  width: 50%;
}

.sidebar-card h2 {
  font-family: var(--font-urban);
  font-size: var(--h2-size);
  margin: 0px;
  padding-bottom: var(--space-4);
}

.sidebar-card p {
  font-family: var(--font-urban);
  font-size: var(--body-size);
  line-height: 1.5;
  margin-bottom: var(--space-4);
}

.discord-btn {
  background: var(--color-btn-bg-hover);
  color: var(--secondary);
  border: none;
  padding: var(--space-3) var(--space-4);
  border-radius: var(--rounded-lg);
  font-family: var(--font-urban);
  font-size: var(--button-size);
  font-weight: bold;
  margin-bottom: var(--space-6);
  cursor: pointer;
  width: 100%;
}

.steps {
  list-style: decimal inside;
  margin-top: 0px;
  margin-bottom: var(--space-6);
  padding: 0px;
}

.steps li {
  margin-bottom: var(--space-6);
  font-size: var(--text-base);
  font-weight: 300;
}

.event-info {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
  overflow: hidden;
}

.event-info .button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 50%;
}

.next-event-text {
  font-weight: 400;
  font-size: var(--h3-size);
  margin-right: var(--space-8);
}

.timer {
  font-family: var(--font-mono);
  color: var(--color-yellow);
  font-weight: 400;
  font-size: var(--h3-size);
}

.apply-btn {
  background: var(--secondary);
  color: var(--primary);
  padding: var(--space-3) var(--space-5);
  border: none;
  border-radius: var(--rounded-lg);
  font-family: var(--font-urban);
  font-size: var(--button-size);
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.footer {
  width: 100%;
  padding-bottom: var(--space-10);
  font-size: var(--text-sm);
  opacity: 0.85;
}

.tagline {
  font-size: var(--text-2xl);
  font-weight: 400;

  /* width: 350px; */
  width: 22rem;
  color: var(--secondary);
  padding-bottom: var(--space-4);
  text-transform: capitalize;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-text {
  color: var(--secondary);
}
