@import url('./variables.css');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
  color: var(--secondary);
  overflow: hidden;
}

.container-background {
  background-image: url("../images/Home.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: var(--space-8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-header {
  font-size: var(--text-2xl);
  font-weight: bold;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  margin: 0;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--space-8);
  height: calc(100vh - var(--space-8));
}

.sidebar-card {
  background-color: var(--color-primary-bg);
  padding: var(--space-8);
  border-radius: var(--rounded-2xl);
  width: 420px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-card h2 {
  font-size: var(--text-2xl);
  margin-bottom: var(--space-4);
}

.sidebar-card p {
  font-size: var(--text-base);
  line-height: 1.5;
  margin-bottom: var(--space-4);
}

.discord-btn {
  background: var(--color-btn-bg-hover);
  color: var(--secondary);
  border: none;
  padding: var(--space-3) var(--space-4);
  border-radius: var(--rounded-lg);
  font-weight: bold;
  margin-bottom: var(--space-6);
  cursor: pointer;
  width: 100%;
}

.steps {
  list-style: decimal inside;
  margin-top: var(--space-8);
  margin-bottom: var(--space-6);
}

.steps li {
  margin: var(--space-6) 0;
  font-size: var(--text-sm);
}

.event-info {
  text-align: center;
  margin-top: auto;
}

.timer {
  color: #f5c842;
  font-weight: bold;
}

.apply-btn {
  background: var(--secondary);
  color: var(--primary);
  padding: var(--space-3) var(--space-5);
  border: none;
  border-radius: var(--rounded-lg);
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.footer {
  width: 100%;
  padding-bottom: var(--space-10);
  font-size: var(--text-sm);
  opacity: 0.85;
}

.tagline {
  font-size: var(--text-sm);
  opacity: 0.85;
  width: 250px;
  color: var(--secondary);
  padding-bottom: var(--space-4);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-text {
  color: var(--secondary);
}
