@import url('./variables.css');

body, html {
  margin: 0;
  padding: 0;
  font-family: var(--font-urban);
  font-size: var(--body-size);
  color: var(--secondary);
  overflow: hidden;
}

.container-background {
  background-image: url("../images/Home.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.grid-container {
  background-image: url("../images/grid.svg");
  background-repeat: repeat;
  background-size: auto;
}

.logo-header {
  font-size: var(--text-2xl);
  font-weight: bold;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  margin: 0;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--space-8);
  height: calc(100vh - var(--space-8));
  box-sizing: border-box;
  padding-top: 44px;
  padding-left: 64px;
  padding-right: 78px;
}

.sidebar-card {
  background-color: var(--color-primary-bg);
  padding: var(--space-8) 0px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(0.625rem);
}

.sidebar-child-card-1 {
  padding: 0 var(--space-6) 2rem var(--space-6);
  border-bottom: 0.5px solid var(--border-background-black);
}

.sidebar-child-card-2 {
  padding: 0 var(--space-6) 2rem var(--space-6);
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.sidebar-card .button {
  width: 50%;
}

.sidebar-card h2 {
  font-family: var(--font-urban);
  font-size: var(--h2-size);
  margin: 0px;
  padding-bottom: var(--space-4);
}

.sidebar-card p {
  font-family: var(--font-urban);
  font-size: var(--body-size);
  line-height: 1.5;
  margin-bottom: var(--space-4);
}

.discord-btn {
  background: var(--color-btn-bg-hover);
  color: var(--secondary);
  border: none;
  padding: var(--space-3) var(--space-4);
  border-radius: var(--rounded-lg);
  font-family: var(--font-urban);
  font-size: var(--button-size);
  font-weight: bold;
  margin-bottom: var(--space-6);
  cursor: pointer;
  width: 100%;
}

.steps {
  list-style: decimal inside;
  margin-top: var(--space-8);
  margin-bottom: var(--space-6);
  padding: 0px;
}

.steps li {
  margin: var(--space-6) 0;
  font-size: var(--text-sm);
}

.event-info {
  text-align: center;
  margin-top: auto;
}

.event-info .button {
  /* width: 242px; */

  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 50%;
}

.timer {
  color: var(--color-light-yellow);
  font-weight: bold;
}

.apply-btn {
  background: var(--secondary);
  color: var(--primary);
  padding: var(--space-3) var(--space-5);
  border: none;
  border-radius: var(--rounded-lg);
  font-family: var(--font-urban);
  font-size: var(--button-size);
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.footer {
  width: 100%;
  padding-bottom: var(--space-10);
  font-size: var(--text-sm);
  opacity: 0.85;
}

.tagline {
  font-size: var(--text-sm);
  opacity: 0.85;
  width: 250px;
  color: var(--secondary);
  padding-bottom: var(--space-4);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-text {
  color: var(--secondary);
}
