{% import "macros/forms.html" as forms %}
{% import "macros/components.html" as components %}
{% import "macros/icons.html" as icons %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Job Form</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/event.css">
    <link rel="stylesheet" href="/css/button.css">
</head>
<body>
    <div class="container-center">
        <form action="/jobs" method="post" class="event-form"> 
            {{ forms::text_input(name="title", label="Title") }}
            {{ forms::select_input(
                name="level",
                label="Level",
                options=["intern", "junior", "mid", "senior", "staff"],
                placeholder="Select level"
            ) }}
            {{ forms::text_input(name="team", label="Team") }}
            {{ forms::text_input(name="location", label="Location") }}
            {{ forms::textarea(name="description", label="Description") }}
            <!-- <button type="submit" class="btn-submit">Submit</button> -->
            {{ components::button(label="Submit", type="submit",  primary=true) }}
        </form>
    </div>
</body>
</html>
