{% import "macros/forms.html" as forms %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Event Form</title>
</head>
<body>
    <form action="/events" method="post">
        {{ forms::text_input(name="title", label="Title") }}
        {{ forms::text_input(name="description", label="Description") }}
        {{ forms::text_input(name="status", label="Status") }}
        {{ forms::text_input(name="startDate", label="Start Date", type="date") }}
        {{ forms::text_input(name="endDate", label="End Date", type="date") }}
<!--        {{ forms::text_input(name="spotlightJobId", label="Spotlight Job ID") }}-->
        <button type="submit">Submit</button>
    </form>
</body>
</html>
