{% extends "website/src/views/base.html" %}
{% import "components/templates/macros/forms.html" as forms %}

{% block content %}
<h1>Create Event</h1>
<form action="/events" method="post">
  {{ forms::text_input(name="title", label="Title") }}
  {{ forms::textarea(name="description", label="Description") }}
  {{ forms::select_input(
        name="status",
        label="Status",
        options=["Scheduled", "Lobby", "Live", "Ended", "Archived"],
        placeholder="Select status"
    ) }}
  {{ forms::text_input(name="start_date", label="Start Date", type="date") }}
  {{ forms::text_input(name="end_date", label="End Date", type="date") }}
  {{ forms::text_input(name="spotlight_job_id", label="Spotlight Job ID") }}
  <button type="submit">Submit</button>
</form>
{% endblock %}
