{% import "macros/forms.html" as forms %}
{% import "macros/components.html" as components %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Event Form</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/event.css">
</head>

<body>
    <div class="container-center">
        <form id="resume-form" class="event-form" action="/events" method="post"> 
            {{ forms::text_input(name="title", label="Title") }}
            {{ forms::text_input(name="description", label="Description") }}
            <!-- {{ forms::text_input(name="status", label="Status") }} -->
            {{ forms::select_input(
                name="status",
                label="Status",
                options=["pending", "scheduled", "lobby", "live", "ended", "archived"],
                placeholder="Select a status"
            ) }}
            {{ forms::text_input(name="startDate", label="Start Date", type="date") }}
            {{ forms::text_input(name="endDate", label="End Date", type="date") }}
            {{ forms::select_input_ref(
                 name        = "job",
                 label       = "Spotlight Job",
                 options     = job_options,
                 placeholder = "No spotlight job"
            ) }}
            <!-- <button type="submit" form="resume-form" class="btn-submit">Submit</button> -->
             {{ components::button(label="BEGIN APPLICATION", form="resume-form",  type="submit", primary=false, size="big") }}
        </form>
    </div>
</body>
</html>
