{% macro text_input(name, label, type="text", autocomplete="", placeholder="") %}
<div class="field">
  <label for="{{ name }}">{{ label }}</label>
  <input
          id="{{ name }}"
          name="{{ name }}"
          type="{{ type }}"
          {% if autocomplete | length > 0 %}autocomplete="{{ autocomplete }}" {% endif %}
          {% if placeholder | length > 0 %}placeholder="{{ placeholder }}" {% endif %}
  />
</div>
{% endmacro %}

{% macro textarea(name, label, row="3", maxlength="1000") %}
<div class="field">
  <label for="{{ name }}">{{ label }}</label>
  <textarea id="{{ name }}" name="{{ name }}" rows="{{row}}" maxlength="{{maxlength}}"></textarea>
</div>
{% endmacro %}