<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Review</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <div class="container">
        <div class="form-section">
            <div class="event-section">
                <div class="event-header">
                    <label class="label-bold">SELECT EVENT:</label>
                </div>
                <div class="event-row">
                    <div class="event-details">
                    <div class="event-date">JUNE 23RD, 2025</div>
                    <select class="event-title">
                        <option value="option1">SOFTWARE ENG II @ UBER – CODE REVIEW</option>
                        <option value="option2">SOFTWARE ENG II @ UBER – ADS</option>
                        <option value="option3">PRODUCT MANAGER @ UBER – UX STRATEGY</option>
                        <option value="option4">FRONTEND DEV @ UBER – MAPS</option>
                        <option value="option5">DEVOPS ENG @ UBER – CLOUD INFRASTRUCTURE</option>
                    </select>
                    </div>
                    <button class="job-link-btn">JOB LINK</button>
                </div>
            </div>
            <div class="flex-pair">
                <div class="flex-item">
                    <label>NAME:</label>
                    <input type="text">
                </div>
                <div>
                    <label>GITHUB:</label>
                    <input type="text">
                </div>
            </div>
            <div class="flex-pair">
                <div class="flex-item">
                    <label>EMAIL:</label>
                    <input type="email">
                </div>
                <div class="flex-item">
                    <label>RESUME:</label>
                    <input type="text">
                </div>
            </div>
            <div class="flex-pair">
                <div class="flex-item">
                    <label>MOST CODE WRITTEN FOR:</label>
                    <input type="text">
                </div>
                <div>
                    <label>LINKEDIN:</label>
                    <input type="text">
                </div>
            </div>
            <div class="flex-pair">
                <div class="flex-item">
                    <label>MOST USED LANGUAGE:</label>
                    <input type="text">
                </div>
                <div>
                    <label>PORTFOLIO:</label>
                    <input type="text">
                </div>
            </div>

            <label>5WS GOT YOU INTO PROGRAMMING?</label>
            <textarea rows="3"></textarea>

            <label>WHAT WOULD BE YOUR ULTIMATE PROJECT RIGHT NOW?</label>
            <textarea rows="3"></textarea>

            <label>WHAT IS ONE PIECE OF WORK YOU ARE MOST PROUD OF</label>
            <textarea rows="3"></textarea>

            <label>WHAT SKILLS DO YOU WANT TO MASTER IN NEXT 3-5 YEARS</label>
            <textarea rows="3"></textarea>

            <label>ANY ONCALL HORROR STORIES?</label>
            <textarea rows="3"></textarea>

            <label>WHAT STRATEGIES DO YOU USE TO STAY FOCUSED AND PRESENT WHILE WORKING ON A TASK?</label>
            <textarea rows="3"></textarea>

            <label>WHAT SUPPORT SYSTEM DO YOU CURRENTLY RELY ON TO STAY FOCUSED, AND HOW CAN WE HELP ENHANCE THEM?</label>
            <textarea rows="3"></textarea>

            <label>WHAT'S YOUR FAVORITE COMFORT FOOD AND WHY?</label>
            <textarea rows="3"></textarea>

            <label>HOW DO YOU TYPICALLY SPEND YOUR WEEKENDS?</label>
            <textarea rows="3"></textarea>

            <label>IF YOU COULD TRAVEL ANYWHERE, WHERE WOULD YOU GO?</label>
            <textarea rows="3"></textarea>

            <div>
                <div style="padding-bottom: 8px; font-size: 16px; font-weight: 700;">
                    TWO TRUTHS AND A LIE
                </div>
                <label>TRUTH #1</label>
                <input type="text">
                <label>TRUTH #2</label>
                <input type="text">
                <label>LIE</label>
                <input type="text">
            </div>
        </div>

        <div class="right-container-section">
            <h2>EVALUATING YOUR JOB–READINESS—ONE RESUME AT A TIME.</h2>
            <div class="checklist-box">
                <ol style="padding-left: 2em; font-weight: 800;">
                    <li>REVIEW THE JOB POST</li>
                    <li>FILL OUT FORM</li>
                    <li>ADD TO CALENDAR</li>
                </ol>
            </div>
            <!-- TODO change 50% into a variable  -->
             <div class="progress-label">50% COMPLETE</div>
             <progress value="50" max="100">50 %</progress>

            <button class="submit-btn">SUBMIT</button>
        </div>
    </div>
</body>
</html>
