<link rel="stylesheet" href="/css/button.css">
{% macro button(label, type="submit", frontIcon="", backIcon="", primary=true, disabled=false, size="", extra_attrs="") %}
  {% if primary %}
    {% set class_name = "button primary-button" %}
  {% else %}
    {% set class_name = "button secondary-button" %}
  {% endif %}
  {% if disabled %}
    {% set class_name = class_name ~ " is-disabled" %}
  {% endif %}
  {% if size == "small" %}
    {% set class_name = class_name ~ " button-small" %}
  {% elif size == "big" %}
    {% set class_name = class_name ~ " button-big" %}
  {% endif %}

  <button type="{{ type }}" class="{{ class_name }}" {{ extra_attrs | safe }} {% if disabled %}disabled{% endif %}>
    {% if frontIcon != "" %}
        <span class="front-arrow">{{ frontIcon | safe }}</span>
    {% endif %}
    <span class="button-text">{{ label }}</span>
    {% if backIcon != "" %}
        <span class="back-arrow">{{ backIcon | safe }}</span>
    {% endif %}
  </button>
{% endmacro %}


