<link rel="stylesheet" href="/css/button.css">
{% macro button(label, type="submit", frontIcon="", form="",  backIcon="", primary=true, disabled=false, size="", extra_attrs="") %}
  {% if primary %}
    {% set class_name = "button primary-button" %}
  {% else %}
    {% set class_name = "button secondary-button" %}
  {% endif %}
  {% if disabled %}
    {% set class_name = class_name ~ " is-disabled" %}
  {% endif %}
  {% if size == "small" %}
    {% set class_name = class_name ~ " button-small" %}
  {% elif size == "big" %}
    {% set class_name = class_name ~ " button-big" %}
  {% endif %}

  <button type="{{ type }}" form="{{ form }}" class="{{ class_name }}" {{ extra_attrs | safe }} {% if disabled %}disabled{% endif %}>
    {% if frontIcon != "" %}
        <span class="front-arrow">{{ frontIcon | safe }}</span>
    {% endif %}
    <span class="button-text">{{ label }}</span>
    {% if backIcon != "" %}
        <span class="back-arrow">{{ backIcon | safe }}</span>
    {% endif %}
  </button>
{% endmacro %}

{% macro stepper(current_step=1) %}
<div class="stepper-container">
  <div class="stepper">
    {% set steps = [
      "Select Job",
      "Fill Application",
      "Confirm Queue",
      "Review and Vote",
      "Leaderboards"
    ] %}
    {% for i in range(end=steps | length) %}
      {% if i + 1 == current_step %}
        {% set step_class = "step active" %}
      {% else %}
        {% set step_class = "step" %}
      {% endif %}
      {% if i + 1 == 1 %}
        <div class="{{ step_class }}" onclick="window.location.href='/jobs'" style="cursor: pointer;">
      {% elif i + 1 == 3 %}
        <div class="{{ step_class }}" onclick="window.location.href='/queue'" style="cursor: pointer;">
      {% elif i + 1 == 5 %}
        <div class="{{ step_class }}" onclick="window.location.href='/leaderboard'" style="cursor: pointer;">
      {% else %}
        <div class="{{ step_class }}">
      {% endif %}
        <div class="step-number">{{ i + 1 }}:</div>
        <div class="step-label">{{ steps[i] }}</div>
      </div>
    {% endfor %}
  </div>
</div>
{% endmacro %}


